*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}


.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    color: gray;
    padding: 0 50px;
}

li:hover{
    color: white;
}

li{
    text-transform: capitalize;
    display: inline-block;
    padding: 10px;
}
.right{
    padding: 3px 0;
}

input{
    padding: 7px 0;
    width: 200px;
    border-radius: 5px;
    border: none;
}

button{
    padding: 5px 15px;
}

.active{
    background-color: black;
    color: white;
}




/* Engage -------------------------- */

.Engage{
    background-color: yellowgreen;
    color: greenyellow;
    text-align: center;
    padding: 50px 0;
}


.Engage h2{
    font-size: 60px;
}

.Engage p{
    font-size: 20px;
    margin: 15px 0;
}


.Engage button{
    background-color: #337ab7;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
}

.Engage button:hover{
     background-color: #365e81;
}






/* Collaboration ---------------------- */
.Collaboration{
    padding: 0 50px;
    margin: 50px 0;
}

.Collaboration .textbox{
    text-align: center;
    color: rgb(172, 170, 170);
}

.Collaboration .textbox h4{
    margin-bottom: 10px;
}

.Collaboration .Collaboration-in .box1{
    width: 32%;
    text-align: center;
}

.Collaboration .Collaboration-in .box1 img{
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 10px;
}

.Collaboration .Collaboration-in{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Collaboration .Collaboration-in .box1 h3{
    color:#337ab7 ;
    margin: 10px 0;
}

.Collaboration .Collaboration-in .box1 h3:hover{
    text-decoration-line:underline ;
    text-decoration-style:solid ;
    text-decoration-color:#22435f  ;
    color: #22435f;
}

.Collaboration .Collaboration-in .box1 p{
     color: rgb(172, 170, 170);
     line-height: 20px;

}


/* Procrastinate ---------------- */

.Procrastinate {
    display: flex;
    justify-content: space-between;
    background-color: goldenrod;
     padding: 50px;
}
.Procrastinate img{
    border-radius: 50%;
}

.Procrastinate .box1{
    width: 31%;
    text-align: center;
}

.Procrastinate h4{
    margin: 10px 0;
    font-size: 20px;
}


.Procrastinate p{
    margin-bottom: 10px;
}

.Procrastinate button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}



/* footer ----------------- */

.footer{
    text-align: center;
      color: rgb(172, 170, 170);
      margin: 50px 0;
}

.footer p{
    margin-bottom: 10px;
}

.sp{
    color: #337ab7;
}

.sp:hover{
    color: #22435f;
     text-decoration-line:underline ;
    text-decoration-style:solid ;
    text-decoration-color:#22435f  ;
}