
/* p{
    color: green;
}

h6{
    color: chocolate;
} */


h1{
    color: rgb(255, 255, 0);
    background-color: green;

    /* word-spacing: 90px;
    letter-spacing: 30px; */
    line-height: 80px;

    /* capitalize , lowercase,uppercase  */
    text-transform: capitalize;

    /* first : left to right 
    second : top to bottom 
    third : blur 
    forth : color */

    /* : negative  
    first :  right  to left
    second : bottom to top  */

    /* text-shadow: -5px -8px 3px red; */

    /* underline,line-through , overline  */
    text-decoration-line:underline ;
    /* double,solid , dashed,dotted  */
    text-decoration-style:double ;
    text-decoration-color: blue ;

    font-size: 32px;

}



p{
    /* border-width:20px ;
    border-style:dotted ;
    border-color: rgb(13, 255, 0); */

    /* border: 2px solid red; */

    /* border-top: 5px dotted red;
    border-right: 5px dotted rgb(85, 255, 0);
    border-bottom: 5px dotted rgb(0, 89, 255);
    border-left: 5px dotted rgb(247, 0, 255); */


    border: 5px solid gray;
    /* border-top: none;
    border-left: none; */


    /* outline --------------- */
    /* outline: 2px dotted orangered; */
    outline-offset: -10px;
}


/* padding : inside the border space between order and element .   */
p{
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */


    /* all sides  */
    /* padding: 90px; */

    /* first : top/bottom 
    second : left /right  */
    /* padding: 10px 60px; */


    /* first : top 
    second : left /right 
    third : bottom  */
    /* padding: 10px 40px 80px; */


    /* clock wise  */
    /* padding:  10px 60px 30px 90px; */


    padding: 50px; 
    padding-top: 0;
}
