
/* p{
    color: green;
}

h6{
    color: chocolate;
} */


h1{
    color: rgb(255, 255, 0);
    background-color: green;

    /* word-spacing: 90px;
    letter-spacing: 30px; */
    /* line-height: 80px; */

    /* capitalize , lowercase,uppercase  */
    /* text-transform: capitalize; */

    /* first : left to right 
    second : top to bottom 
    third : blur 
    forth : color */

    /* : negative  
    first :  right  to left
    second : bottom to top  */

    /* text-shadow: -5px -8px 3px red; */

    /* underline,line-through , overline  */
    /* text-decoration-line:underline ; */
    /* double,solid , dashed,dotted  */
    /* text-decoration-style:double ; */
    /* text-decoration-color: blue ; */

    /* font-size: 32px; */

}



p{
    /* border-width:20px ;
    border-style:dotted ;
    border-color: rgb(13, 255, 0); */

    /* border: 2px solid red; */

    /* border-top: 5px dotted red;
    border-right: 5px dotted rgb(85, 255, 0);
    border-bottom: 5px dotted rgb(0, 89, 255);
    border-left: 5px dotted rgb(247, 0, 255); */


    /* border: 5px solid gray; */
    /* border-top: none;
    border-left: none; */


    /* outline --------------- */
    /* outline: 2px dotted orangered; */
    /* outline-offset: -10px; */
}


/* padding : inside the border space between border and element .   */
p{
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */


    /* all sides  */
    /* padding: 90px; */

    /* first : top/bottom 
    second : left /right  */
    /* padding: 10px 60px; */


    /* first : top 
    second : left /right 
    third : bottom  */
    /* padding: 10px 40px 80px; */


    /* clock wise  */
    /* padding:  10px 60px 30px 90px;
    border: 2px solid black; */


    /* padding: 50px; 
    padding-top: 0; */
}


/* margin : outside the border space between two elements .  */

p{
    /* margin-top:50px ;
    margin-left:50px ;
    margin-right:50px ;
    margin-bottom:50px ; */

    /* all sides  */
    /* margin: 90px; */


    /* first : top/bottom 
    second : left /right */
    /* margin: 30px 90px; */


    /* first : top 
    second : left /right 
    third : bottom  */
    /* margin: 10px 50px 70px; */


    /* clock wise :  */
    /* margin: 10px 40px 70px 90px; */


    /* margin: 50px; 
    margin-top: 0;
    margin-left: 0; */

}




/* selectors : selectors are use to select the html element for design /style the element .  
there are 5 types of selectors : 
1. element selectors / tag selectors : 
2. class selectors : 
3. id selectors : 
4. grouping selectors : 
5. universal selectors : */



/* 1. element selectors / tag selectors :  */

/* h3{
    color: red;
} */

/* 2. class selectors : .   */

/* .groot{
    color: green;
} */


/* 3. id selectors : # */

/* #groot2{
    color: aqua;
} */


/* 4. grouping selectors: ,  */

/* #groot2,#groot1{
    color: aqua;
    padding: 20px;
    border: 2px solid black;
} 

#groot3{
    color: orangered;
} */


/* 5. universal selectors : *  , all element / complete html        */

/* *{
    color: brown;
    margin: 5px;
} */





/* overflow : the overflow property is used to controls the big data .   */

/* .over{
    border: 2px solid black;
    width: 500px;
    height: 300px;
    hidden , visible (default) , scroll , auto 
    overflow: auto;
} */


/* -------------------------------------------------- */


/* background image : the background image property is used to display the background image of our element .  */



body{
    background-image: url(https://img.freepik.com/free-photo/lavender-field-sunset-near-valensole_268835-3910.jpg?semt=ais_user_personalization&w=740&q=80);


    background-repeat: no-repeat;

    background-size: cover;

    /* background-position: -20px -40px; */

    background-attachment: fixed;

    color: red;
}


/* border-radius :  */


.over{
    border: 2px solid black;

    border-radius: 10px 90px ;
    padding: 30px;
}

.p1{
    width: 100px;
    height: 100px;
    border: 2px solid green;

    border-radius: 50%;
}


img{
    width: 300px;
    height: 300px;
    border-radius: 50%;

}


/* opacity : the opacity property specify the transparency of an element . 
    value : 0-1 .   */

    img{
        opacity: 1;
    }

